@import '../../../../styles/imports';

/* autocomplete wrapper */
.auto_wrapper {
    position: relative;
    z-index: 40;
}
.auto_wrapper:focus {
    outline: none;
}

/* drop down menu */
.auto_wrapper .auto_input {
    width:100%
}
.auto_wrapper .auto_menu {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top:100%;
    width: 100%;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 4px;
    background-color: #ffffff;
    transition: max-height 100ms;
    padding:0;
    margin:0;
    opacity: 0;
    z-index: 100;
}
.auto_wrapper.active .auto_menu {
    max-height: vw_size(240,320);
    overflow: scroll;
    border: 1px solid lightgray;
    border-radius: 4px;
    opacity: 1;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}

/* select option */
.auto_wrapper .auto_option {
    display: flex;
    align-items: center;
    height:vw_size(30,320);
    padding:0 5px;
    cursor: pointer;
    z-index: 110;
}
.auto_wrapper .auto_option.highlight,
.auto_wrapper .auto_option:hover,
.auto_wrapper .auto_option.active {
    font-family: Heebo-Bold;
    background-color: $background-color;
    color: $text-color;
}
.auto_wrapper .auto_option .part,
.auto_wrapper .auto_option .match {
    display: inline;
}
.auto_wrapper .auto_option .match {
    font-family: Heebo-Bold;
    color:$text-color;
}

@media (min-width: $tablet) {
    .auto_wrapper.active .auto_menu {
        max-height: vw_size(240,768);
    }
    .auto_wrapper .auto_option {
        height:vw_size(30,768);
    }
}
@media (min-width: $desktop) {
    .auto_wrapper.active .auto_menu {
        max-height: vw_size(240,1200);
    }
    .auto_wrapper .auto_option {
        height:vw_size(30,1200);
    }
}
@media (min-width: $desktop-large) {
    .auto_wrapper.active .auto_menu {
        max-height: vw_size(240,1920);
    }
    .auto_wrapper .auto_option {
        height:vw_size(40,1920);
    }
}