@import "src/styles/imports";

$current: $mobile;

.icons-container {
	display: flex;
	position: relative;
	top: vw_size(50, $current);
	@include right(vw_size(30, $current));
	width: 85%;

	:nth-child(1) {
		margin-inline-end: auto;
	}

	:nth-child(2) {
		margin-inline-start: auto;
	}

	.icon {
		cursor: pointer;
		width: vw_size(25, $current);
		height: vw_size(25, $current);
	}
}

.tracker-wrapper {
	&::before {
		content: "";
		z-index: 349;
		position: absolute;
		bottom: 48%;
		left: 0;
		width: 100%;
		height: vw_size(100, $current);
		pointer-events: none;
		background: linear-gradient(rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.93) 100%,
				rgba(0, 0, 0, 1) 100%);

		&.ios {
			bottom: 60%;
		}
	}

	.map-container {
		position: fixed;
		height: 53vh;
		width: 100%;
		top: 0;
		left: 0;

		.delivery-marker {
			height: vw_size(41, $current);
			width: vw_size(49, $current);
		}

		.target-marker {
			height: vw_size(33, $current);
			width: vw_size(33, $current);
		}

		.store-marker {
			height: vw_size(33, $current);
			width: vw_size(33, $current);
		}
	}

	.video-background {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 52%;
		object-fit: cover;
	}

	.tracker-modal {
		position: fixed;
		width: 100%;
		height: vh_size(185, $current);
		bottom: 0;
		background-color: white;
		border-top-left-radius: vw_size(17, $current);
		border-top-right-radius: vw_size(17, $current);
		z-index: 350;
		overflow: hidden;
		transition: 350ms ease-in-out;

		&.cancel {
			height: 80%;
		}

		.order-finished-bonappetit {
			font-family: $font-medium;
			font-size: vw_size(23, $current);
			text-align: center;
			margin: vw_size(90, $current) auto;
		}

		.cancelled-order-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: vw_size(150, $current);

			.cancelled-icon {
				height: vw_size(104, $current);
				width: vw_size(113, $current);
			}

			.cancelled-order-title {
				margin-top: vw_size(33, $current);
				font-family: $font-medium;
				color: $black;
				font-size: vw_size(23, $current);
				text-align: center;
				width: vw_size(204, $current);
			}

			.cancelled-order-btn {
				margin-top: vw_size(55, $current);
				width: vw_size(190, $current);
				height: vw_size(44, $current);
			}
		}

		.invalid-order-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: vw_size(50, $current);

			.hourglass-icon {
				height: vw_size(70, $current);
				width: vw_size(70, $current);
			}

			.invalid-order-title {
				margin-top: vw_size(30, $current);
				font-family: $font-medium;
				color: $black;
				font-size: vw_size(23, $current);
				text-align: center;
				width: vw_size(204, $current);
			}

			.invalid-order-btn {
				margin-top: vw_size(30, $current);
				width: vw_size(190, $current);
				height: vw_size(44, $current);
			}
		}

		.wrapper {
			position: relative;
			height: 100%;

			display: flex;
			flex-direction: column;

			.filler {
				flex: 1;
			}

			.tracker-map-image {
				width: 100%;
				position: absolute;
				bottom: 0;

				img {
					object-fit: cover;
				}
			}

			.content {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				z-index: 100;
			}
		}

		.linear-gradient {
			z-index: 105;
			position: absolute;
			background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
			width: 100%;

			&.linear-gradient-bottom {
				height: vw_size(105, $current);
				padding-inline: vw_size(40, $current);
				left: vw_size(-5, $current);
				bottom: 0;
				display: flex;
				align-items: flex-start;
				justify-content: space-evenly;

				.text-wrapper {
					display: flex;
					flex-direction: column;

					.meanwhile-text {
						font-family: $font-bold;
						font-size: vw_size(18, $current);
						margin-top: vw_size(25, $current);
					}

					.save-pizza-text {
						color: #717171;
						font-family: $font;
						font-size: vw_size(14, $current);
						width: 85%;
					}
				}

				.save-pizza-btn {
					display: flex;
					justify-content: center;
					align-items: center;
					width: vw_size(220, $current);
					height: vw_size(45, $current);
					margin: auto;
					margin-top: vw_size(40, $current);
				}

				.save-pizza-lottie {
					margin-top: vw_size(50, $current);
					width: vw_size(40, $current);

					&.saved {
						margin-top: vw_size(20, $current);
					}
				}
			}
		}

		&.done {
			transition: 500ms ease-in-out;
			height: vw_size(545, $current);
		}

		.tracker-top-section {
			position: absolute;
			top: vh_size(-10, $current);
			width: 100%;

			&.arriving {
				top: vh_size(5, $current);

				.icons-container {
					top: vh_size(10, $current);
				}
			}

			.pre-order-lottie {
				margin: auto;
				height: vw_size(67, $current);
				width: vw_size(68, $current);
				margin-bottom: vw_size(15, $current);
			}

			.arriving-title {
				font-family: $font-book;
				color: black;
				font-size: vw_size(30, $current);
				text-align: center;
				margin: unset;
				margin-top: vw_size(20, $current);
			}

			.arriving-subtitle {
				margin: unset;
				margin-top: vw_size(12, $current);
				font-family: $font-bold;
				color: black;
				font-size: vw_size(40, $current);
				text-align: center;
			}

			.title {
				display: block;
				font-weight: unset;
				color: #5f6a73;
				font-family: $font-medium;
				font-size: vw_size(15, $current);
				text-align: center;
				width: 100%;
				margin: auto;
			}

			.eta-wrapper {
				display: flex;
				justify-content: center;
				align-items: baseline;

				.eta-number-style {
					display: block;
					text-align: center;
					font-family: $font-medium;
					font-size: vw_size(75, $current);
					margin: unset;
				}

				.minutes-style {
					display: block;
					text-align: center;
					font-size: vw_size(20, $current);
					font-family: $font-medium;
					margin: unset;
					margin-inline-start: vw_size(5, $current);
				}
			}

			.eta-arrival {
				display: block;
				text-align: center;
				font-size: vw_size(15, $current);
				font-family: $font-medium;
				color: #5f6a73;
			}

			.future-order-title {
				font-size: vw_size(14, $current);
				font-family: $font-book;
				color: #4d4d4d;
				text-align: center;
				line-height: vw_size(20, $current);
				margin: unset;
				margin-bottom: vw_size(6, $current);
			}

			.future-order-subtitle {
				font-family: $font-medium;
				color: black;
				font-size: vw_size(18, $current);
				line-height: vw_size(20, $current);
				font-weight: unset;
				text-align: center;
				margin: auto;
				width: 90%;
			}
		}

		.finished-order-wrapper {
			position: absolute;
			top: vw_size(165, $current);
			left: 50%;
			transform: translateX(-48%);

			.finished-animation {
				margin: auto;
				width: vw_size(240, $current);
				height: vw_size(240, $current);
			}

			.pickup-ready-wrapper {
				.pickup-ready-text {
					text-align: center;
					font-size: vw_size(16, $current);
					font-family: $font-book;
					width: vw_size(200, $current);
					margin: auto;
				}

				.pickup-ready-subtext {
					text-align: center;
					font-size: vw_size(16, $current);
					font-family: $font-bold;
					width: vw_size(200, $current);
					margin: auto;
				}

				.navigation-wrapper {
					cursor: pointer;
					margin: auto;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 30%;

					.navigation-icon {
						width: vw_size(50, $current);
						height: vw_size(50, $current);
					}

					.navigation-text {
						font-family: $font;
						font-size: vw_size(16, $current);
						color: $blue;
					}
				}
			}

			&.pickup {
				top: vw_size(120, $current);
			}
		}
	}
}

@media (min-width: $media-tablet) {
	$current: $tablet;

	.icons-container {
		display: flex;
		position: relative;
		top: vw_size(12, $current);
		@include right(vw_size(30, $current));

		:nth-child(1) {
			margin-inline-end: auto;
		}

		:nth-child(2) {
			margin-inline-start: auto;
		}

		.icon {
			cursor: pointer;
			width: vw_size(25, $current);
			height: vw_size(25, $current);
		}
	}

	.tracker-wrapper {
		&::before {
			display: none;
		}

		.video-background {
			height: 100%;
		}

		.tracker-modal {
			margin: vw_size(122, $current) vw_size(86, $current) vw_size(57, $current) vw_size(0, $current);
			margin-top: unset;
			border-radius: vw_size(14, $current);
			height: vh_size(450, $current);
			max-height: vh_size(480, $current);
			max-width: vw_size(541, $current);

			.order-finished-bonappetit {
				font-size: vw_size(23, $current);
				margin: vw_size(50, $current) auto;
			}

			&.cancel {
				height: unset;
			}

			.save-pizza-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding-bottom: vh_size(15, $current);

				.text-wrapper {
					margin-bottom: vw_size(10, $current);
					margin-top: vw_size(85, $current);

					.meanwhile-text {
						text-align: center;
						font-family: $font-bold;
						font-size: vw_size(18, $current);
					}

					.save-pizza-text {
						font-size: vw_size(14, $current);
						color: #717171;
						text-align: center;
						font-family: $font;
						width: 85%;
						margin: auto;
						margin-top: vw_size(15, $current);
					}
				}

				.save-pizza-btn {
					width: vw_size(85, $current);
					height: vw_size(38, $current);
					margin: auto;
				}

				.save-pizza-lottie {
					margin-top: 0;

					width: vw_size(40, $current);
				}
			}

			.tracker-top-section {
				position: unset;
				top: vw_size(-20, $current);
				padding: vw_size(16, $current);

				.pre-order-lottie {
					height: vw_size(67, $current);
					width: vw_size(68, $current);
					margin-bottom: vw_size(25, $current);
				}

				.arriving-title {
					font-size: vw_size(30, $current);
					margin-top: vw_size(20, $current);
				}

				.arriving-subtitle {
					margin-top: vw_size(12, $current);
					font-size: vw_size(40, $current);
				}

				.title {
					font-size: vw_size(15, $current);
				}

				.eta-wrapper {
					.eta-number-style {
						font-size: vw_size(75, $current);
					}

					.minutes-style {
						font-size: vw_size(15, $current);
						margin-inline-start: unset;
					}
				}

				.eta-arrival {
					font-size: vw_size(15, $current);
					margin-top: vw_size(5, $current);
				}

				.future-order-title {
					font-size: vw_size(14, $current);
					line-height: vw_size(20, $current);
				}

				.future-order-subtitle {
					font-size: vw_size(18, $current);
					line-height: vw_size(20, $current);
				}
			}

			.finished-order-wrapper {
				position: absolute;
				top: vw_size(130, $current);

				.finished-animation {
					margin: auto;
					width: vw_size(240, $current);
					height: vw_size(240, $current);
				}

				.pickup-ready-wrapper {
					.pickup-ready-text {
						text-align: center;
						font-size: vw_size(16, $current);
						font-family: $font-book;
						width: vw_size(200, $current);
						margin: auto;
					}

					.pickup-ready-subtext {
						font-size: vw_size(16, $current);
						width: vw_size(200, $current);
					}

					.navigation-wrapper {
						margin: auto;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 30%;

						.navigation-icon {
							width: vw_size(50, $current);
							height: vw_size(50, $current);
						}

						.navigation-text {
							font-family: $font;
							font-size: vw_size(16, $current);
							color: $blue;
						}
					}
				}

				&.pickup {
					top: vw_size(150, $current);
				}
			}

			.wrapper {
				height: 100%;
				overflow: auto;
			}

			.cancelled-order-wrapper {
				margin-top: vw_size(90, $current);

				.cancelled-icon {
					height: vw_size(104, $current);
					width: vw_size(113, $current);
				}

				.cancelled-order-title {
					margin-top: vw_size(33, $current);
					font-size: vw_size(23, $current);
					width: vw_size(204, $current);
				}

				.cancelled-order-btn {
					margin-top: vw_size(55, $current);
					width: vw_size(190, $current);
					height: vw_size(44, $current);
				}
			}

			.invalid-order-wrapper {
				margin-top: vw_size(100, $current);

				.hourglass-icon {
					height: vw_size(70, $current);
					width: vw_size(70, $current);
				}

				.invalid-order-title {
					margin-top: vw_size(30, $current);
					font-size: vw_size(23, $current);
					width: vw_size(204, $current);
				}

				.invalid-order-btn {
					margin-top: vw_size(30, $current);
					width: vw_size(190, $current);
					height: vw_size(44, $current);
				}
			}
		}
	}
}

@media (min-width: $media-desktop) {
	$current: $desktop;

	.icons-container {
		width: 84%;
		display: flex;
		position: relative;
		top: vw_size(12, $current);
		@include right(vw_size(30, $current));

		:nth-child(1) {
			margin-inline-end: auto;
		}

		:nth-child(2) {
			margin-inline-start: auto;
		}

		.icon {
			cursor: pointer;
			width: vw_size(25, $current);
			height: vw_size(25, $current);
		}
	}

	.tracker-wrapper {
		height: 100%;

		.tracker-modal {
			overflow: hidden;
			position: relative;
			margin-top: vw_size(20, $current);
			border-radius: vw_size(14, $current);
			max-height: unset;
			height: 75vh;
			max-width: vw_size(384, $current);
			margin: unset;
			margin-inline-start: vw_size(86, $current);

			&.done {
				height: vw_size(545, $current);
			}

			.wrapper {
				position: unset;

				.content {
					position: relative;
				}
			}

			.order-finished-bonappetit {
				font-family: $font;
				font-size: vw_size(25, $current);
				margin: vw_size(70, $current) auto;
			}

			.cancelled-order-wrapper {
				margin-top: vw_size(20, $current);
				.cancelled-icon {
					height: vw_size(115, $current);
					width: vw_size(124, $current);
				}

				.cancelled-order-title {
					margin-top: vw_size(12, $current);
					font-size: vw_size(23, $current);
					font-family: $font-bold;
					width: vw_size(204, $current);
				}

				.cancelled-order-btn {
					margin-top: vw_size(44, $current);
					width: vw_size(190, $current);
					height: vw_size(44, $current);
				}
			}

			.invalid-order-wrapper {
				margin-top: vw_size(10, $current);

				.hourglass-icon {
					height: vw_size(70, $current);
					width: vw_size(70, $current);
				}

				.invalid-order-title {
					font-family: $font-bold;
					margin-top: vw_size(55, $current);
					font-size: vw_size(18, $current);
					width: vw_size(204, $current);
				}

				.invalid-order-btn {
					margin-top: vw_size(37, $current);
					width: vw_size(190, $current);
					height: vw_size(44, $current);
				}
			}

			.tracker-top-section {
				padding: vw_size(10, $current);
				height: vw_size(130, $current);

				// margin-top: vw_size(25, $current);
				.arriving-title {
					font-size: vw_size(30, $current);
					margin-top: vw_size(20, $current);
				}

				.arriving-subtitle {
					margin-top: vw_size(5, $current);
					font-size: vw_size(40, $current);
				}

				.pre-order-lottie {
					height: vw_size(67, $current);
					width: vw_size(68, $current);
					margin-bottom: vw_size(25, $current);
				}

				.title {
					font-size: vw_size(15, $current);
				}

				.eta-wrapper {
					flex-direction: column;
					align-items: center;

					.eta-number-style {
						font-size: vw_size(75, $current);
					}

					.minutes-style {
						font-size: vw_size(15, $current);
					}
				}

				.eta-arrival {
					font-size: vw_size(15, $current);
					margin-top: vw_size(5, $current);
				}

				.future-order-title {
					line-height: vw_size(20, $current);
					font-size: vw_size(14, $current);
				}

				.future-order-subtitle {
					font-family: $font-bold;
					font-size: vw_size(18, $current);
					line-height: vw_size(20, $current);
				}
			}

			.finished-order-wrapper {
				position: unset;
				transform: unset;

				.finished-animation {
					top: vw_size(145, $current);
					left: vw_size(78, $current);
					width: vw_size(240, $current);
					height: vw_size(190, $current);
				}

				&.pickup {
					top: vw_size(150, $current);
					transform: unset;

					.finished-animation {
						left: vw_size(72, $current);
						height: vw_size(120, $current);
					}

					.pickup-ready-wrapper {
						margin: auto;

						.pickup-ready-text {
							font-size: vw_size(16, $current);
							width: vw_size(200, $current);
						}

						.pickup-ready-subtext {
							font-size: vw_size(16, $current);
							width: vw_size(200, $current);
						}

						.navigation-wrapper {
							width: 100%;
							height: 30%;
							margin-top: vw_size(10, $current);

							.navigation-icon {
								width: vw_size(50, $current);
								height: vw_size(50, $current);
							}

							.navigation-text {
								font-family: $font;
								font-size: vw_size(16, $current);
							}
						}
					}
				}
			}

			.save-pizza-wrapper {
				padding-bottom: vw_size(25, $current);
				margin-top: vw_size(45, $current);

				.text-wrapper {
					margin-top: vw_size(20, $current);
					margin-bottom: vw_size(10, $current);

					.meanwhile-text {
						font-size: vw_size(18, $current);
					}

					.save-pizza-text {
						font-size: vw_size(14, $current);
						margin-top: vw_size(5, $current);
						width: 85%;
					}
				}

				.save-pizza-btn {
					margin-top: vw_size(15, $current);
					width: vw_size(140, $current);
					height: vw_size(38, $current);
				}

				.save-pizza-lottie {
					width: vw_size(40, $current);
				}
			}
		}

		.map-container {
			position: fixed;
			height: 100vh;
			width: 100vw;
			top: 0;
			left: 0;
			z-index: 0;

			.delivery-marker {
				height: vw_size(31, $current);
				width: vw_size(46, $current);
			}

			.target-marker {
				height: vw_size(33, $current);
				width: vw_size(33, $current);
			}

			.store-marker {
				height: vw_size(33, $current);
				width: vw_size(33, $current);
			}
		}
	}
}

@media (min-width: $media-desktop-large) {
	$current: $desktop-large;

	.icons-container {
		display: flex;
		position: relative;
		top: vw_size(12, $current);
		@include right(vw_size(30, $current));

		:nth-child(1) {
			margin-inline-end: auto;
		}

		:nth-child(2) {
			margin-inline-start: auto;
		}

		.icon {
			cursor: pointer;
			width: vw_size(25, $current);
			height: vw_size(25, $current);
		}
	}

	.tracker-wrapper {
		.tracker-modal {
			border-radius: vw_size(14, $current);
			max-width: vw_size(384, $current);
			margin-inline-start: vw_size(86, $current);

			.wrapper {
				overflow: unset;
			}

			&.done {
				height: vw_size(580, $current);
			}

			.cancelled-order-wrapper {
				margin-top: vw_size(5, $current);

				.cancelled-icon {
					height: vw_size(115, $current);
					width: vw_size(124, $current);
				}

				.cancelled-order-title {
					margin-top: vw_size(12, $current);
					font-size: vw_size(23, $current);
					width: vw_size(204, $current);
				}

				.cancelled-order-btn {
					margin-top: vw_size(44, $current);
					width: vw_size(190, $current);
					height: vw_size(44, $current);
				}
			}

			.invalid-order-wrapper {
				margin-top: vw_size(15, $current);

				.hourglass-icon {
					height: vw_size(70, $current);
					width: vw_size(70, $current);
				}

				.invalid-order-title {
					margin-top: vw_size(55, $current);
					font-size: vw_size(18, $current);
					width: vw_size(204, $current);
				}

				.invalid-order-btn {
					margin-top: vw_size(37, $current);
					width: vw_size(190, $current);
					height: vw_size(44, $current);
				}
			}

			.order-finished-bonappetit {
				font-size: vw_size(25, $current);
				margin: vw_size(70, $current) auto;
			}

			.tracker-top-section {
				padding: vw_size(16, $current);
				height: vw_size(130, $current);

				// margin-top: vw_size(35, $current);
				.arriving-title {
					font-size: vw_size(30, $current);
					margin-top: vw_size(20, $current);
				}

				.arriving-subtitle {
					margin-top: vw_size(5, $current);
					font-size: vw_size(40, $current);
				}

				.pre-order-lottie {
					height: vw_size(67, $current);
					width: vw_size(68, $current);
					margin-bottom: vw_size(25, $current);
				}

				.title {
					font-size: vw_size(15, $current);
				}

				.eta-wrapper {
					.eta-number-style {
						font-size: vw_size(75, $current);
					}

					.minutes-style {
						font-size: vw_size(15, $current);
					}
				}

				.eta-arrival {
					font-size: vw_size(15, $current);
					margin-top: vw_size(5, $current);
				}

				.future-order-title {
					line-height: vw_size(20, $current);
					font-size: vw_size(14, $current);
				}

				.future-order-subtitle {
					font-size: vw_size(18, $current);
					line-height: vw_size(20, $current);
				}
			}

			.finished-order-wrapper {
				.finished-animation {
					top: vw_size(130, $current);
					left: vw_size(75, $current);
					width: vw_size(240, $current);
					height: vw_size(240, $current);
				}

				&.pickup {
					top: vw_size(150, $current);

					.finished-animation {
						left: vw_size(75, $current);
						top: vw_size(155, $current);
						width: vw_size(240, $current);
						height: vw_size(160, $current);
					}

					.pickup-ready-wrapper {
						margin: auto;

						.pickup-ready-text {
							font-size: vw_size(16, $current);
							font-family: $font-book;
							width: vw_size(200, $current);
						}

						.pickup-ready-subtext {
							font-family: $font-bold;
							font-size: vw_size(16, $current);
							width: vw_size(200, $current);
						}

						.navigation-wrapper {
							margin-top: vw_size(10, $current);

							.navigation-icon {
								width: vw_size(50, $current);
								height: vw_size(50, $current);
							}

							.navigation-text {
								font-family: $font;
								font-size: vw_size(16, $current);
							}
						}
					}
				}
			}

			.save-pizza-wrapper {
				padding-bottom: unset;
				margin-top: vw_size(40, $current);

				.text-wrapper {
					margin-top: vw_size(20, $current);
					margin-bottom: vw_size(10, $current);

					.meanwhile-text {
						font-size: vw_size(18, $current);
					}

					.save-pizza-text {
						font-size: vw_size(14, $current);
						margin-top: vw_size(5, $current);
						width: 85%;
					}
				}

				.save-pizza-btn {
					margin-top: vw_size(15, $current);
					width: vw_size(140, $current);
					height: vw_size(38, $current);
				}

				.save-pizza-lottie {
					width: vw_size(40, $current);
				}
			}
		}

		.map-container {
			.delivery-marker {
				height: vw_size(31, $current);
				width: vw_size(46, $current);
			}

			.target-marker {
				height: vw_size(33, $current);
				width: vw_size(33, $current);
			}

			.store-marker {
				height: vw_size(33, $current);
				width: vw_size(33, $current);
			}
		}
	}
}