@import "src/styles/imports.scss";
$current: 375;
:global(.ltr) {
	.icon-title-wrapper {
		.icon-wrapper {
			transform: scaleX(-1);
		}
	}
}
.icon-title-wrapper {
	display: flex;
	.icon-wrapper {
		width: vw_size(15, $current);
	}
	.title {
		font-size: vw_size(14, $current);
		font-family: $font-bold;
		color: $white;
		margin: 0;
		font-weight: unset;
		margin-inline-start: vw_size(8, $current);
	}
}

@media (min-width: $media-tablet) {
	$current: $tablet;

	.icon-title-wrapper {
		.icon-wrapper {
			width: vw_size(15, $current);
		}
		.title {
			font-size: vw_size(14, $current);
			margin-inline-start: vw_size(8, $current);
		}
	}
}
@media (min-width: $media-desktop) {
	$current: $desktop;

	.icon-title-wrapper {
		.icon-wrapper {
			width: vw_size(15, $current);
			margin-bottom: vw_size(12, $current);
		}
		.title {
			font-size: vw_size(17, $current);
			margin-inline-start: vw_size(11, $current);
		}
	}
}
@media (min-width: $media-desktop_large) {
	$current: $desktop_max;

	.icon-title-wrapper {
		.icon-wrapper {
			width: vw_size(15, $current);
			margin-bottom: vw_size(12, $current);
		}
		.title {
			font-size: vw_size(17, $current);
			margin-inline-start: vw_size(11, $current);
		}
	}
}
