@import "src/styles/imports.scss";

$current: 375;

.maxFreeDipsContainer {
	font-size: vw_size(14, $current);
	line-height: vw_size(20, $current);
	color: $white;
	.freeDipsWrapper {
		.freeDipsMessage {
			font-family: $font-medium;
			font-size: vw_size(16, $current);
			line-height: vw_size(25, $current);
			letter-spacing: vw_size(0.32, $current);
		}

		.extraTitle {
			font-family: $font-medium;
			font-size: vw_size(13, $current);
			line-height: vw_size(24, $current);
			letter-spacing: vw_size(-0.13, $current);
		}
	}
}

@media (min-width: $media-tablet) {
	$current: $tablet;
	.maxFreeDipsContainer {
		line-height: vw_size(20, $current);
		.freeDipsWrapper {
			.freeDipsMessage {
				font-size: vw_size(16, $current);
				line-height: vw_size(25, $current);
				letter-spacing: vw_size(0.32, $current);
			}

			.extraTitle {
				font-size: vw_size(13, $current);
				line-height: vw_size(24, $current);
				letter-spacing: vw_size(-0.13, $current);
			}
		}
	}
}

@media (min-width: $media-desktop) {
	$current: $desktop;
	.maxFreeDipsContainer {
		line-height: vw_size(20, $current);
		.freeDipsWrapper {
			.freeDipsMessage,
			.extraTitle {
				font-family: $font;
				font-size: vw_size(14, $current);
				line-height: vw_size(20, $current);
				letter-spacing: vw_size(1.68, $current);
			}
		}
	}
}

@media (min-width: $media-desktop_large) {
	$current: $desktop-max;
	.maxFreeDipsContainer {
		.freeDipsWrapper {
			.freeDipsMessage,
			.extraTitle {
				font-size: vw_size(20, $current);
			}
		}
	}
}
