@import "/src/styles/imports.scss";

$current: $mobile;
.deal-wrapper {
	position: relative;
	margin-bottom: vw_size(20, $current);
	background-color: $soft-gray-opacity;
	width: vw_size(330, $current);
	min-height: vw_size(326, $current);
	border-radius: 25px;
	justify-content: space-between;
	flex-direction: column;

	&:active {
		background-color: $soft-gray-opacity-hover;
	}
	.top {
		.image-wrapper {
			width: 100%;
			height: vw_size(180, $current);
			overflow: hidden;
			position: relative;
			border-radius: 25px 25px 0 0;

			.image {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			.placeholder-image {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.title {
			color: $white;
			font-family: $font-book;
			font-size: vw_size(17, $current);
			padding-inline: vw_size(20, $current);
			padding-top: vw_size(15, $current);
			padding-bottom: vw_size(25, $current);
			line-height: vw_size(20, $current);
			text-align: start;
		}
	}
	.bottom {
		position: absolute;
		bottom: vw_size(15, $current);
		width: 100%;
		padding-inline: vw_size(20, $current);
		display: flex;
		justify-content: space-between;

		.prices-wrapper {
			height: vw_size(39, $current);
			display: flex;
			flex-direction: column;

			justify-content: center;

			&.multi-prices {
				justify-content: space-between;
				align-items: flex-start;
			}
		}

		.button {
			width: vw_size(113, $current);
			height: vw_size(39, $current);
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;

			.out-of-stock {
				color: $pink;
				font-family: $font-bold;
			}

			.btn-text {
				font-size: vw_size(15, $current);
			}
		}

		.deal-price {
			color: $white;
			font-size: vw_size(17, $current);
			font-family: $font-bold;
		}

		.deal-old-price {
			color: $pink;
			font-size: vw_size(17, $current);
			font-family: $font-bold;
		}
	}
}

@media (min-width: $media-tablet) {
	$current: $tablet;
	.deal-wrapper {
		flex-basis: vw_size(300, $current);
		margin: 0 auto;
		width: vw_size(330, $current);
		height: vw_size(326, $current);
		min-height: unset;
		overflow: hidden;

		.top {
			.image-wrapper {
				height: vw_size(180, $current);
			}

			.title {
				font-size: vw_size(17, $current);
				padding-inline: vw_size(20, $current);
				padding-top: vw_size(15, $current);
				line-height: vw_size(20, $current);
				line-height: unset;
			}
		}
		.bottom {
			bottom: vw_size(15, $current);
			padding-inline: vw_size(20, $current);

			.prices-wrapper {
				height: vw_size(39, $current);
			}

			.button {
				width: vw_size(113, $current);
				height: vw_size(39, $current);

				.btn-text {
					font-size: vw_size(15, $current);
				}
			}

			.deal-price {
				font-size: vw_size(17, $current);
			}

			.deal-old-price {
				font-size: vw_size(17, $current);
			}
		}
	}
}
@media (min-width: $media-desktop) {
	$current: $desktop-large;
	.deal-wrapper {
		width: vw_size(300, $current);
		height: vw_size(360, $current);
		background-color: $soft-gray-opacity;
		border-radius: 20px;
		margin-bottom: vw_size(20, $current);
		cursor: pointer;

		&:hover {
			box-shadow: $box-shadow-card;
			background-color: $soft-gray-opacity-hover;

			.top {
				.image-wrapper {
					img {
						transform: scale(1.05);
					}
				}
			}
		}
		.top {
			.image-wrapper {
				height: vw_size(200, $current);

				img {
					transition: 0.3s all ease-in-out;
				}
			}

			.title {
				font-size: vw_size(17, $current);
				padding-inline: vw_size(20, $current);
				padding-top: vw_size(15, $current);
				line-height: vw_size(20, $current);
			}
		}
		.bottom {
			flex-direction: column;
			align-items: flex-start;

			bottom: vw_size(15, $current);
			padding-inline: vw_size(20, $current);

			.price-button-desktop {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.deal-old-price-desktop {
				margin-top: unset;
				font-size: vw_size(20, $current);
				font-family: $font-bold;
				color: $pink;
				width: fit-content;
				margin-inline-start: vw_size(2, $current);

				.currency {
					font-size: vw_size(14, $current);
					margin-right: vw_size(2.5, $current);
				}
			}

			.button {
				width: vw_size(102, $current);
				height: vw_size(36, $current);

				.btn-text {
					font-size: vw_size(15, $current);
				}
			}

			.deal-price {
				font-size: vw_size(28, $current);

				.currency {
					font-size: vw_size(20, $current);
					margin-right: vw_size(5, $current);
				}
			}
		}
	}
	:global(.ltr) {
		.deal-wrapper {
			.bottom {
				.deal-old-price-desktop {
					margin-inline-start: unset;
				}
			}
		}
	}
}
@media (min-width: $media-desktop-large) {
	$current: $desktop_max;
	.deal-wrapper {
		margin-bottom: vw_size(54, $current);
		width: vw_size(300, $current);
		height: vw_size(360, $current);

		.top {
			.image-wrapper {
				height: vw_size(200, $current);
			}

			.title {
				font-size: vw_size(17, $current);
				padding-inline: vw_size(20, $current);
				padding-top: vw_size(15, $current);
				line-height: vw_size(20, $current);
			}
		}
		.bottom {
			bottom: vw_size(15, $current);
			padding-inline: vw_size(20, $current);

			.deal-old-price-desktop {
				margin-top: vw_size(35, $current);
				font-size: vw_size(20, $current);
				margin-inline-start: vw_size(2, $current);

				.currency {
					font-size: vw_size(14, $current);
					margin-right: vw_size(5, $current);
				}
			}

			.button {
				width: vw_size(102, $current);
				height: vw_size(36, $current);

				.btn-text {
					font-size: vw_size(15, $current);
				}
			}

			.deal-price {
				font-size: vw_size(28, $current);

				.currency {
					font-size: vw_size(20, $current);
					margin-right: vw_size(5, $current);
				}
			}
		}
	}
	:global(.ltr) {
		.deal-wrapper {
			.bottom {
				.deal-old-price-desktop {
					margin-inline-start: unset;
				}
			}
		}
	}
}
