@import "/src/styles/imports.scss";
$current: 375;

.extra-price-dip {
	font-family: $font;
	font-size: vw_size(12, $current);
	color: rgba(255, 255, 255, 1);
	line-height: vw_size(20, $current);
	display: flex;
	justify-content: center;
	align-items: end;
}

@media (min-width: $media-tablet) {
	$current: $tablet;

	.extra-price-dip {
		font-size: vw_size(12, $current);
		line-height: vw_size(20, $current);
	}
}

@media (min-width: $media-desktop) {
	$current: $desktop;

	.extra-price-dip {
		font-size: vw_size(12, $current);
		line-height: vw_size(20, $current);
	}
}

@media (min-width: $media-desktop-large) {
	$current: $desktop_max;

	.extra-price-dip {
		font-size: vw_size(13, $current);
		line-height: vw_size(20, $current);
	}
}
