@import "src/styles/imports.scss";

.none {
  display: none;
}

.dominos-loader-wrapper {
  width: 100%;
  height: 100%;
  .dominos-loader-animation-wrapper {
    width: 100%;
    height: 100%;
    .dominos-loader-animation {
      width: 100%;
      height: 100%;
    }
  }
}
