@import "src/styles/imports.scss";

$current: 375;

//transitions
$timout: 300ms;
$function: linear;
:global(.ltr) {
	.up-sale-content {
		.close-icon-wrapper {
			left: unset;
			right: vw_size(24, $current);
		}
		.transition-wrapper {
			position: relative;
		}
		.slide {
			&:global(-enter) {
				right: unset;
				left: 100%;
				position: absolute;
				width: 100%;

				&:global(-active) {
					right: unset;

					left: 0;
					transition: left $timout $function;
				}
			}
			&:global(-exit) {
				left: unset;
				right: 0;
				position: absolute;
				width: 100%;

				&:global(-active) {
					left: unset;
					right: 100%;
					transition: right $timout $function;
				}
			}
		}
	}
}

.up-sale-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	.transition-wrapper {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;
		height: 67vh;
		overflow: hidden;
	}
	.slide {
		&:global(-enter) {
			right: 100%;
			position: absolute;
			width: 100%;
			&:global(-active) {
				right: 0;
				transition: right $timout $function;
			}
		}
		&:global(-exit) {
			left: 0;
			position: absolute;
			width: 100%;

			&:global(-active) {
				left: 100%;
				transition: left $timout $function;
			}
		}
	}
}

.up-sale-content {
	.close-icon-wrapper {
		cursor: pointer;
		position: fixed;
		z-index: 10000;

		top: vw_size(34, $current);
		left: vw_size(24, $current);
		width: vw_size(18, $current);
		height: vw_size(18, $current);
	}
	.title-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: vw_size(56, $current);
		.subtitle {
			color: #41c9f3;
			font-size: vw_size(15, $current);
			font-family: $font-bold;
			text-align: center;
			margin: 0;
		}
		.title {
			margin: 0;

			margin-top: vw_size(6, $current);
			color: $white;
			font-family: $font;
			font-size: vw_size(18, $current);
			text-align: center;
		}
	}
}

@media (min-width: $media-tablet) {
	$current: $tablet;

	:global(.ltr) {
		.up-sale-content {
			.close-icon-wrapper {
				right: vw_size(24, $current);
			}
		}
	}

	.up-sale-content {
		.close-icon-wrapper {
			top: vw_size(34, $current);
			left: vw_size(24, $current);
			width: vw_size(18, $current);
			height: vw_size(18, $current);
		}
		.title-wrapper {
			margin-top: vw_size(56, $current);
			.subtitle {
				font-size: vw_size(15, $current);
			}
			.title {
				margin-top: vw_size(6, $current);

				font-size: vw_size(18, $current);
			}
		}
	}
}

@media (min-width: $media-desktop) {
	$current: $desktop;
	:global(.ltr) {
		.up-sale-content {
			.close-icon-wrapper {
				right: vw_size(24, $current);
			}
		}
	}

	.up-sale-content {
		.up-sale-header-wrapper {
			margin-inline: vw_size(42, $current);
			width: 100%;
			height: 65px;
			// border-bottom: 0.1px solid rgba(101, 101, 101, 1);

			.close-icon-wrapper {
				top: vw_size(34, $current);
				left: vw_size(24, $current);
				width: vw_size(18, $current);
				height: vw_size(18, $current);
			}
		}
		.title-wrapper {
			margin-top: vw_size(25, $current);
			.subtitle {
				font-size: vw_size(15, $current);
				font-family: $font;
			}
			.title {
				margin-top: vw_size(3, $current);

				font-size: vw_size(20, $current);
			}
		}
	}
}

@media (min-width: $media-desktop_large) {
	$current: $desktop_max;
	:global(.ltr) {
		.up-sale-content {
			.close-icon-wrapper {
				right: vw_size(24, $current);
			}
		}
	}
	.up-sale-content {
		.close-icon-wrapper {
			top: vw_size(34, $current);
			left: vw_size(24, $current);
			width: vw_size(18, $current);
			height: vw_size(18, $current);
		}
		.title-wrapper {
			margin-top: vw_size(97, $current);
			.subtitle {
				font-size: vw_size(18, $current);
			}
			.title {
				margin-top: vw_size(3, $current);

				font-size: vw_size(25, $current);
			}
		}
	}
}
