@import "src/styles/imports.scss";

$current: 375;
.free-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	.pizza-box-hearts-wrapper {
		width: vw_size(175, $current);
		margin-top: vw_size(94, $current);
	}
	.free-title {
		margin-top: vw_size(17, $current);
		font-family: $font-book;
		font-size: vw_size(15, $current);
		line-height: vw_size(27, $current);
		color: #383940;
	}
	.free-subtitle {
		margin-top: vw_size(1, $current);
		font-family: $font-medium;
		color: #383940;
		font-size: vw_size(21, $current);
	}
	.actions {
		margin-top: vw_size(78, $current);
		margin-bottom: vw_size(35, $current);
		&.has-gift-card {
			margin-top: unset;
		}
		.button-accept {
			width: vw_size(284, $current);
		}
	}
}

@media (min-width: $media-tablet) {
	$current: $tablet;
	.free-wrapper {
		.pizza-box-hearts-wrapper {
			width: vw_size(230, $current);
			margin-top: vw_size(50, $current);
		}
		.free-title {
			margin-top: vw_size(17, $current);
			font-size: vw_size(15, $current);
			line-height: vw_size(27, $current);
		}
		.free-subtitle {
			margin-top: vw_size(1, $current);

			font-size: vw_size(21, $current);
		}
		.actions {
			margin-top: vw_size(78, $current);
			margin-bottom: vw_size(35, $current);

			.button-accept {
				width: vw_size(284, $current);
			}
		}
	}
}

@media (min-width: $media-desktop) {
	$current: $desktop;
	.free-wrapper {
		.pizza-box-hearts-wrapper {
			display: none;
		}
		.free-title {
			display: none;
		}
		.free-subtitle {
			display: none;
		}
		&.has-giftcard {
			.pizza-box-hearts-wrapper,
			.free-subtitle,
			.free-title {
				display: block;
			}
			.pizza-box-hearts-wrapper {
				width: vw_size(141, $current);
				margin-top: vw_size(50, $current);
			}
			.free-title {
				margin-top: vw_size(15, $current);
				font-size: vw_size(15, $current);
				line-height: vw_size(27, $current);
				margin-bottom: unset;
			}
			.free-subtitle {
				margin-top: unset;
				font-size: vw_size(21, $current);
			}
			.actions {
				margin-bottom: unset;
				.button-accept {
					margin-top: vw_size(25, $current);
				}
			}
		}
		.actions {
			&.has-gift-card {
				margin-top: unset;
			}
			margin-top: vw_size(44, $current);
			margin-bottom: vw_size(60, $current);
			.button-accept {
				width: vw_size(260, $current);
			}
		}
	}
}

@media (min-width: $media-desktop_large) {
	$current: $desktop_max;
	.free-wrapper {
		&.has-giftcard {
			.pizza-box-hearts-wrapper,
			.free-subtitle,
			.free-title {
				display: block;
			}
			.pizza-box-hearts-wrapper {
				width: vw_size(141, $current);
				margin-top: vw_size(50, $current);
			}
			.free-title {
				margin-top: vw_size(15, $current);
				font-size: vw_size(15, $current);
				line-height: vw_size(27, $current);
			}
			.free-subtitle {
				font-size: vw_size(21, $current);
			}
			.actions {
				.button-accept {
					margin-top: vw_size(25, $current);
				}
			}
		}
		.actions {
			margin-top: vw_size(44, $current);
			margin-bottom: vw_size(60, $current);
			.button-accept {
				width: vw_size(260, $current);
			}
		}
	}
}
