@import "src/styles/imports.scss";

$current: 375;

.marketing-popup {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	:global(.popup_content) {
		margin-bottom: vw_size(30, $current);
		.icon {
			width: vw_size(229, $current);
			margin: auto;
			margin-top: vw_size(40, $current);
		}

		.text-wrapper {
			display: flex;
			margin-bottom: vw_size(30, $current);
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.add-title {
				font-family: $font-medium;
				font-size: vw_size(14, $current);
				color: #404042;
			}
			.content-wrapper {
				height: vw_size(230, $current);
				overflow: scroll;

				.content {
					color: #949494;
					font-family: $font-book;
					font-size: vw_size(14, $current);
					text-align: center;
					padding-inline: vw_size(50, $current);
					line-height: vw_size(25, $current);
				}
			}
			.title {
				font-family: $font-medium;
				font-size: vw_size(28, $current);
				margin-top: 0;
				text-align: center;
				color: $blue;
				margin-bottom: vw_size(10, $current);
				padding-inline: vw_size(20, $current);
			}
			h1,
			h3 {
				margin: 0;
			}
		}

		.btn-wrap {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: vw_size(20, $current);
		}
	}
}

@media (min-width: $media-tablet) {
	$current: $tablet;
	.marketing-popup {
		:global(.popup_content) {
			width: vw_size(550, $current);
			margin-bottom: vw_size(30, $current);
			.icon {
				width: vw_size(229, $current);
				margin-top: vw_size(40, $current);
			}

			.text-wrapper {
				margin-bottom: vw_size(30, $current);

				.add-title {
					font-size: vw_size(14, $current);
				}

				.content-wrapper {
					height: vw_size(230, $current);
					overflow: scroll;

					.content {
						color: #949494;
						font-family: $font-book;
						font-size: vw_size(14, $current);
						text-align: center;
						padding-inline: vw_size(50, $current);
						line-height: vw_size(25, $current);
					}
				}
				.title {
					font-size: vw_size(28, $current);
					margin-bottom: vw_size(10, $current);
					padding-inline: vw_size(30, $current);
				}
				h1,
				h3 {
					margin: 0;
				}
			}

			.btn-wrap {
				gap: vw_size(20, $current);
			}
		}
	}
}

@media (min-width: $media-desktop) {
	$current: $desktop;
	.marketing-popup {
		:global(.popup_content) {
			width: vw_size(550, $current);
			margin-bottom: vw_size(30, $current);
			.icon {
				width: vw_size(229, $current);
				margin-top: vw_size(40, $current);
			}

			.text-wrapper {
				h1,
				h3 {
					margin: 0;
				}

				.add-title {
					font-size: vw_size(14, $current);
				}

				.content-wrapper {
					height: vw_size(230, $current);
					overflow: scroll;

					.content {
						font-size: vw_size(14, $current);
						padding-inline: vw_size(50, $current);
						line-height: vw_size(25, $current);
					}
				}
				.title {
					font-size: vw_size(28, $current);
					margin-bottom: vw_size(10, $current);
					padding-inline: vw_size(25, $current);
				}
			}

			.btn-wrap {
				gap: vw_size(20, $current);
			}
		}
	}
}

@media (min-width: $media-desktop_large) {
	$current: $desktop_max;
	.marketing-popup {
		:global(.popup_content) {
			width: vw_size(550, $current);
			margin-bottom: vw_size(30, $current);
			.icon {
				width: vw_size(229, $current);
				margin-top: vw_size(40, $current);
			}

			.text-wrapper {
				h1,
				h3 {
					margin: 0;
				}

				.add-title {
					font-size: vw_size(14, $current);
				}

				.content-wrapper {
					height: vw_size(230, $current);
					overflow: scroll;

					.content {
						font-size: vw_size(14, $current);
						padding-inline: vw_size(50, $current);
						line-height: vw_size(25, $current);
					}
				}
				.title {
					font-size: vw_size(28, $current);
					margin-bottom: vw_size(10, $current);
					padding-inline: vw_size(25, $current);
				}
			}

			.btn-wrap {
				gap: vw_size(20, $current);
			}
		}
	}
}
