@import "src/styles/imports.scss";

$current: $mobile;
:global(.popup) {
	.identification {
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		.header {
			padding-top: vw_size(13, $current);
			display: flex;
			top: 0;
			width: 100vw;
			position: absolute;
			flex-direction: row;

			&.rtl {
				direction: rtl;
			}
			&:global(.ltr) {
				direction: ltr;
				.back-wrapper {
					.icon-wrapper {
						transform: rotate(180deg);
					}
				}
			}
			.title-wrapper {
				display: flex;
				flex-direction: column;
				width: 60%;

				.title {
					color: $white;
					font-size: vw_size(14, $current);
					line-height: vw_size(16, $current);
					font-family: $font;
					text-align: center;
					margin: 0;
				}
				.subtitle {
					margin: 0;
					color: $white;
					font-size: vw_size(14, $current);
					line-height: vw_size(22, $current);
					font-family: $font-book;
					text-align: center;
					letter-spacing: 0;
				}
			}
			.back-wrapper {
				width: 20%;
				padding-left: vw_size(15, $current);
				padding-right: vw_size(15, $current);
				cursor: pointer;
				.icon-wrapper {
					width: vw_size(19, $current);
				}
			}
			.empty {
				width: 20%;
			}
		}
		:global(.popup_wrapper) {
			position: relative;
			height: 80vh;

			display: flex;
			flex-direction: column;
			transition: all 200ms ease-out;
			justify-content: flex-start;

			.close-icon-wrapper {
				cursor: pointer;
				position: absolute;
				display: none;
				z-index: 10000;
				top: vw_size(15, $current);
				left: vw_size(10, $current);
				width: vw_size(18, $current);
				height: vw_size(18, $current);
			}
			:global(.popup_content) {
				height: 100%;
			}
		}
	}
}

@media (min-width: $media-tablet) {
	$current: $tablet;
	:global(.popup) {
		.identification {
			justify-content: center;

			:global(.popup_wrapper) {
				height: auto;
				min-width: vw_size(450, $current);
				height: vw_size(602, $current);

				border-radius: vw_size(9, $current);

				.close-icon-wrapper {
					display: block;
					top: vw_size(5, $current);
					left: vw_size(10, $current);
					width: vw_size(18, $current);
					height: vw_size(18, $current);
				}
			}
		}
	}
}

@media (min-width: $media-desktop) {
	$current: $desktop;
	:global(.popup) {
		.identification {
			:global(.popup_wrapper) {
				min-width: vw_size(512, $current);
				height: vw_size(600, $current);

				border-radius: vw_size(9, $current);

				.close-icon-wrapper {
					top: vw_size(5, $current);
					left: vw_size(10, $current);
					width: vw_size(30, $current);
					height: vw_size(30, $current);
				}
			}
		}
	}
}
@media (min-width: $media-desktop_large) {
	$current: $desktop_max;
	:global(.popup) {
		.identification {
			:global(.popup_wrapper) {
				min-width: vw_size(512, $current);
				height: vw_size(600, $current);
				border-radius: vw_size(9, $current);

				:global(.popup_content) {
					.close-icon-wrapper {
						top: vw_size(5, $current);
						left: vw_size(10, $current);
						width: vw_size(30, $current);
						height: vw_size(30, $current);
					}
				}
			}
		}
	}
}
