@import "src/styles/imports";

$size: 12px;
:global(.ltr) {
	.number {
		flex-direction: row-reverse;
	}
}

.number {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;

	font-size: $size;

	.digit {
		overflow: hidden;
		position: relative;
		width: 7px;
		height: $size;
		.revolver-wrapper {
			display: flex;
			flex-direction: column;
			position: absolute;
			transition: 100ms;

			color: $white;
			font-family: $font-black;
			line-height: $size;
		}
	}
}
