@import "src/styles/imports";

$current: 375;

.tool-tip-option-wrapper {
	height: vw_size(53, $current);
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.304);
	width: 100%;

	&:active {
		background-color: rgba(143, 159, 170, 0.4);
	}

	&:not(:last-child) {
		&::after {
			content: "";
			width: 100%;
			position: absolute;
			height: 1px;
			background-color: rgba(255, 255, 255, 0.255);
			bottom: 0;
		}
	}

	.option-wrapper {
		height: 100%;
		display: grid;
		grid-template-columns: vw_size(35, $current) 1fr vw_size(35, $current);
		justify-items: center;
		align-items: center;
		width: 100%;

		.extra-data {
			font-family: $font;
			font-size: vw_size(12, $current);
			color: white;
		}
		.option-img {
			grid-template-columns: 1;
			height: vw_size(16, $current);
			width: vw_size(14, $current);
		}
		.option-text {
			grid-auto-columns: 2;
			font-size: vw_size(12, $current);
			font-family: $font;
		}
		.option-changes-text {
			grid-template-columns: 3;
			color: white;
			font-size: vw_size(12, $current);
			font-family: $font;
		}
	}
	&.has-changes {
		background-color: rgba(143, 159, 170, 0.65);
	}
}

@media (min-width: $media-tablet) {
	$current: $tablet;

	.tool-tip-option-wrapper {
		height: vw_size(53, $current);
		justify-content: center;

		.option-wrapper {
			width: 100%;
			grid-template-columns: vw_size(40, $current) 1fr vw_size(40, $current);
			.extra-data {
				left: vw_size(14, $current);
				font-size: vw_size(12, $current);
			}
			.option-img {
				height: vw_size(16, $current);
				width: vw_size(14, $current);
			}
			.option-text {
				font-size: vw_size(12, $current);
				font-family: $font;
			}
			.option-changes-text {
				grid-template-columns: 3;
				font-size: vw_size(12, $current);
			}
		}
	}
}

@media (min-width: $media-desktop) {
	$current: $desktop;

	.tool-tip-option-wrapper {
		width: vw_size(170, $current);
		height: vw_size(53, $current);

		.option-wrapper {
			display: flex;
			justify-content: center;
			.option-img {
				height: vw_size(16, $current);
				width: vw_size(14, $current);
			}
			.option-text {
				font-size: vw_size(12, $current);
				margin-inline-start: unset;
				padding: unset;
				text-align: center;
			}
			.option-changes-text {
				font-size: vw_size(12, $current);
			}
		}
	}
}

@media (min-width: $media-desktop_large) {
	$current: $desktop_max;

	.tool-tip-option-wrapper {
		width: vw_size(170, $current);
		height: vw_size(53, $current);

		.option-wrapper {
			padding: vw_size(10, $current);

			.option-img {
				height: vw_size(16, $current);
				width: vw_size(14, $current);
			}
			.option-text {
				font-size: vw_size(12, $current);
				margin-inline-start: vw_size(10, $current);
			}
			.option-changes-text {
				font-size: vw_size(12, $current);
				margin-inline-start: vw_size(5, $current);
			}
		}
	}
}
